<!--<div class="container-fluid">
    <div class="card card-map">

-->

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Cadastro de Animais</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nome do animal</label>
                                        <input type="text" class="form-control border-input" placeholder="Digite seu nome">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nome Científico </label>
                                        <input type="text" class="form-control border-input" placeholder="Digite o seu Email">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Ordem</label>
                                        <input type="text" class="form-control border-input" placeholder="Senha">
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Família</label>
                                        <input type="text" class="form-control border-input" placeholder="Senha">
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input type="text" class="form-control border-input" placeholder="Senha">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Distribuição Geográfica</label>
                                        <input type="text" class="form-control border-input" placeholder="Senha">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Habitat</label>
                                        <input type="text" class="form-control border-input" placeholder="Senha">
                                    </div>
                                </div>
                            </div>


                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Salvar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

<!--       
    </div>
</div>-->
